{require_otp_vsn, "R15|R16"}.

{cover_enabled, true}.

{erl_opts, [debug_info]}.

{port_env, [
    % this is local mod: "gcc" or "cc" works on FreeBSD
    %{"CC", "gcc46 -march=nocona"}, 
    % this CFLAGS file is for SFMT performance increase
    {"CFLAGS", "$CFLAGS -O3 -finline-functions -fomit-frame-pointer -fno-strict-aliasing --param max-inline-insns-single=1800 --param inline-unit-growth=500 --param large-function-growth=900 -Wmissing-prototypes -Wall -std=c99"}
]}.

{port_specs, [
    {"priv/glicko2_nif.so", ["c_src/glicko2_nif.c"]}
]}.